
ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS account_status VARCHAR(50) DEFAULT 'active';

UPDATE public.profiles SET account_status = 'suspended', role = 'student' WHERE role = 'suspended';

